
.header
  width 100%
  height: 688px
  padding-top: 58px
  background-image url("..//img/head-bg.jpg")
  background-repeat: no-repeat
  -webkit-background-size: cover
  background-size: cover


.header_top
  display: flex
  flex-flow row wrap
  justify-content space-between


.header_logo
  display: block
  width: 207px
  height: 72px
  margin-left -32px
  background-image: url("..//img/logo.png")


.header_menu
  display: flex
  flex-flow row nowrap
  justify-content space-between
  padding-top:2px
  margin-right: -15px

.header_menu_link
  display: block
  height: 37px
  padding:  0 15px
  margin: 0 1px
  border-radius 3px
  color text_color
  font-family main_font
  font-weight: 400
  font-size: 18px
  line-height: 37px
  text-transform: uppercase
  text-align: center
  transition all .3s
  &:hover
    background-color: main_color


.header_bottom
  display: flex
  flex-flow row nowrap
  justify-content space-between
  margin-top: 123px

.header_bottom__left
  max-width: 500px

.header_heading
  font-family: main_font
  font-size: 90px
  font-weight: 600
  color text_color
  line-height:1
  & strong
    color: main_color

.header_description
  font-family: text_font
  font-size: 20px
  font-weight: 400
  color text_color
  line-height:1.4
  margin-top: 30px


.header_bottom__right
  width: 400px

.header_request_block
  width: 100%

.header_form
  width: 100%
  height: 520px
  padding: 30px 24px 28px 24px
  background-color: main_color
  border-radius 3px


.header_form_heading
  margin-bottom: 35px
  font-family: main_font
  font-size: 22px
  font-weight: 400
  color text_color
  text-align: center
  text-transform: uppercase

.header_form_input
  width: 100%
  height: 57px
  margin-bottom: 16px
  padding-left: 19px
  border none
  border-radius 4px
  outline none
  font-family: text_font
  font-size: 20px

.header_form_chekbox_block
  display: flex
  flex-flow row wrap
  justify-content flex-start
  align-items center
  margin-top: 10px
  margin-bottom:22px

.header_form_checkbox_label
  width: 19px
  height: 18px
  margin-left: 3px
  margin-right: 23px

  background-color: text_color
  border-radius 4px
  text-align: center
  cursor pointer

.header_form_checkbox_label_text
  font-family: text_font
  font-size: 20px
  color text_color
  cursor: pointer

.header_form_btn__submit
  width: 100%
  height: 57px
  font-family: main_font
  font-size: 22px
  color: text_color
  text-transform: uppercase
  text-align: center
  background-color: second_color
  border none
  border-radius 4px
