.main_content
  width:100%

  background-color: text_color

.services
  width: 100%
  height 482px

.services_heading
  width 50%
  margin-top: 40px
  margin-bottom: 83px
  font-size: 50px
  font-family: main_font
  color: main_color
  font-weight: 600
  line-height: 1
  text-transform: uppercase
  & span
    color: second_color

.services_list
  display: flex
  flex-flow row nowrap
  justify-content space-between
  width: 100%

.services_item
  display: flex
  flex-flow column wrap
  align-items center


.services_image
  max-width 100%
  height 156px
  margin-bottom: 40px


.services_description
  width: 176px
  font-size: 20px
  font-family: text_font
  line-height: 1.4
  text-align: center


.story_section
  width: 100%
  height: 119px
  padding-top: 30px
  background-color: main_color

.story_container
  display: flex
  flex-flow row nowrap
  justify-content space-between


.short_story
  max-width 640px
  padding-left: 2px
  margin: 0
  font-family: text_font
  font-size: 20px
  line-height: 1.4;
  color text_color

.story_link
  display: block
  width: 269px
  height: 64px
  font-family: main_font
  font-size: 22px
  color: text_color
  line-height: 64px
  text-transform: uppercase
  text-align: center
  text-decoration: none
  background-color: second_color
  border-radius 4px


.pricing_section
  width: 100%
  height: 540px
  padding-top: 60px
  background-color: bg_color

.pricing_heading
  margin-bottom: 50px
  font-family: main_font
  font-size: 50px
  font-weight: 600
  color: second_color
  text-align: center
  text-transform: uppercase
  line-height: 1

.pricing_list
  display: flex
  flex-flow row nowrap
  justify-content space-between

.pricing_item
  display: flex
  flex-flow column nowrap
  align-items center
  width: 318px
  padding-top: 30px
  background-color: text_color
  border-radius 5px

.pricing_item_heading
  margin-bottom: 25px
  font-family: text_font
  font-size: 22px
  font-weight: 400
  text-align: center

.pricing_item_price
  margin-bottom: 18px
  font-size: 60px
  font-family: main_font
  font-weight: 600
  color: second_color
  text-transform: uppercase

.pricing_item_options_list
  margin-bottom 24px

.pricing_item_options_item
  font-family: text_font
  font-size: 20px
  line-height: 1.4
  text-align: center

.pricing_item_link
  display: block
  width: 205px
  height: 49px
  font-family: main_font
  font-size: 22px
  line-height: 49px
  text-transform: uppercase
  text-align: center
  color: second_color
  background-color: main_color
  border-radius 3px

.pricing_item:nth-child(2)
  & .pricing_item_link
    color text_color
    background-color: second_color


.portfolio_section
  width: 100%
  height 690px
  padding-top: 145px

.portfolio_container
  display: flex
  flex-flow row nowrap
  justify-content space-between


.testimonial_block
  display: flex
  flex-flow column nowrap
  align-items center
  width 500px

.testimonial_heading
  margin-bottom 25px
  font-family: main_font
  font-size: 50px
  text-transform: uppercase
  text-align: center
  color: second_color
  line-height: 1

.testimonial_list
  display: flex
  flex-flow column nowrap
  width 100%

.testimonial_item
  position: relative




.testimonial_post_block
  width 440px
  border-radius 5px
  padding: 20px 60px 25px 25px

.testimonial_post
  margin: 0
  margin-bottom 15px
  font-family: text_font
  font-size: 20px
  color: second_color
  line-height: 1.4

.testimonial_avatar
  display: block
  position: absolute
  top:20px
  width: 105px
  height: 105px
  right: 10px
  border-radius 50%
  box-shadow 0 -3px 20px 0px #aaa



.testimonial_name
  font-family: main_font
  font-size: 20px
  color: second_color
  font-weight: 600

.testimonial_item:last-child
  margin-top: 45px
  & .testimonial_post_block
    background-color: main_color
    & .testimonial_post
      color: text_color



.gallery_block
  width 390px
  display: flex
  flex-flow column nowrap


.gallery_heading
  margin-bottom 55px
  font-family: main_font
  font-size: 50px
  text-transform: uppercase
  text-align: center
  color: main_color
  line-height: 1


.gallery_list
  display: flex
  flex-flow row wrap
  justify-content space-between
  align-content space-between
  width: 100%
  height 240px


.gallery_item
  width: 105px

.gallery_img
  max-width 100%
  border-radius 50%
  box-shadow 0 -3px 20px 0px #aaa

.gallery_more_img_link
  display: block
  width: 100%
  margin-top: 45px
  font-family: main_font
  font-size: 20px
  line-height: 1.2
  text-decoration: underline
  text-transform: uppercase
  text-align: center
  color: second_color
  &:hover
    text-decoration: none